@keyframes pulseScale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.08);
    }
  }
  
  .animate-pulseScale {
    animation: pulseScale 1.5s ease-in-out infinite;
  }
  